body {
    background-color: rgb(187, 211, 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 180px 1500px 250px;
    justify-items: center;
    align-items: center;
    container-type: inline-size;
    width: 100%;
    margin: 0;
}

.all-widgets {
    display: grid;
    width: 100%;
    column-gap:10px;
    row-gap:50px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 450px 450px;
}

.widget-wrap {
    max-width: 245px;
    height: 450px; 
    margin:0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: rgb(138, 184, 247);
    box-shadow: 5px 2px 4px 2px #8b7fe3;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.widget-column1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.widget-column1 img {
    width:175px;
    height:155px;
    margin-left: 90px;
    border-radius: 50%;
    box-shadow: 5px 2px 4px 2px #8b7fe3;
}

.widget-column1 p {
    margin: 0;
    padding-top: 20px;
    color: white;
    font-weight: 700;
    padding-left: 30px;
    font-size: 16px;
}

.widget-column2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    color: white;
}

.widget-column2 p {
    margin: 0;
}

.widget-column2 p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
}

.widget-column2 p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.widget-column2 p:nth-child(3) {
    font-size: 40px;
    font-weight: 700;
}

.widget-column2 p:nth-child(4) {
    font-size: 26px;
    font-weight: 700;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.nav a {
    color: black;
    text-decoration: none;
}

.footer {
    display: flex; 
    gap: 100px;
    width: 100%;
    justify-content: center;
}

.footer-column {
    height:200px;
    font-size: 16px;
}

.footer-column h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-column p {
    margin: 0;
}

@container (max-width: 760px) {
    .all-widgets {
        row-gap:20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 450px);
        justify-content: center;
    }
}

@container (max-width: 760px) {
    .header-title {
        font-size: 24px;
    }
    
    .nav {
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:760px) {
    body {
        grid-template-rows: 200px 4200px 400px;
    }

    .widget-wrap {
        max-width: 300px;
    }

    .footer {
       flex-direction: column;
       align-items: center;
       gap:0px;
    }

    .footer-column h3 {
        margin-top: 30px;
        margin-bottom: 3px;
    }

    .footer-column {
        height:auto;
    }
}

