body {
    background-color: rgb(187, 211, 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 180px 1550px 200px;
    align-items: center;
    container-type: inline-size;
    margin: 0;
}

.all-widgets {
    display: grid;
    column-gap:10px;
    row-gap:50px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 460px 460px 460px;
}

.widget-wrap {
    min-width: 230px; 
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: rgb(138, 184, 247);
    box-shadow: 5px 2px 4px 2px #8b7fe3;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    padding: 5px;
}

.widget-column1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.widget-column1 img {
    width:175px;
    height:155px;
    border-radius: 50%;
    box-shadow: 5px 2px 4px 2px #8b7fe3;
}

.widget-column1 p {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.widget-column2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.widget-column2 p {
    margin: 0;
}

.widget-column2 p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
}

.widget-column2 p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}

.widget-column2 p:nth-child(3) {
    font-size: 40px;
    font-weight: 700;
}

.widget-column2 p:nth-child(4) {
    font-size: 26px;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header-title {
    display: inline-block;
    font-size: 30px;
    margin: 0;
}
    
.nav {
    display: flex;
    gap: 50px;
}

.nav a {
    color: black;
    text-decoration: none;
}

.footer {
    display: flex; 
    gap: 50px;
    justify-content: center;
}

.footer-column h3 {
    margin: 0;
    margin-bottom: 20px;
}

.footer-column a {
    color:black;
    text-decoration: none;
    display: block;
}

@container (max-width: 760px) {
    .all-widgets {
        row-gap:20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 450px);
    }

    .widget-wrap {
        min-width: 280px;
    }
}

@container (max-width: 760px) {
    .header-title {
        font-size: 24px;
    }
    
    .nav {
        gap: 30px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
 
    .footer-column h3 {
        margin-bottom: 3px;
    }
}
    
@media screen and (max-width:760px) {
    body {
        grid-template-rows: 200px 4200px 350px;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

.header-title {
    animation: slideInLeft 2s ease-in-out 20ms 1 forwards;
}

.footer:hover {
    transition: font-weight color 1s ease-in 1s;
    font-weight: 600;
    color: blue;
}

.widget-wrap:active {
    transition: border 2ms ease-in-out;
    border: 3px solid rgb(210, 224, 64);
}
  